.Content {
  height: 60vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 200 !important;
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 }
button{
  width: 150px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  background-color: rgb(10, 168, 211);
  border-radius: 5px;
  border: none;
}
